/* Basic Settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;

    /* Background Color */
    background: #f4efff;

    color: #29213d;
}


/* Navigation Bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 8%;

    background: #ffffff;
}

nav h2 {
    color: #7652d6;
    font-size: 28px;
}

.nav-links a {
    text-decoration: none;
    color: #29213d;

    margin-left: 25px;
    font-weight: bold;
}

.nav-links a:hover {
    color: #7652d6;
}


/* Home Section */
.hero {
    min-height: 90vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 60px 10%;
}


/* Left Side */
.hero-text {
    max-width: 550px;
}

.small-text {
    color: #7652d6;
    font-weight: bold;
    letter-spacing: 3px;
}

.hero h1 {
    font-size: 75px;
    margin: 10px 0;

    color: #7652d6;
}

.hero h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    line-height: 1.7;
}


/* Button */
.button {
    display: inline-block;

    margin-top: 25px;
    padding: 14px 28px;

    background: #7652d6;
    color: white;

    text-decoration: none;

    border-radius: 30px;
    font-weight: bold;
}

.button:hover {
    background: #5736a8;
}


/* Right Side Circle */
.hero-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 280px;
    height: 280px;

    border-radius: 50%;

    background: #7652d6;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 120px;
    font-weight: bold;

    box-shadow: 0 15px 40px #b9a9e8;
}


/* Common Section */
section {
    padding: 80px 10%;
}

.section-title {
    text-align: center;

    font-size: 38px;
    color: #7652d6;

    margin-bottom: 40px;
}


/* About */
.about-box {
    max-width: 750px;

    margin: auto;

    background: white;

    padding: 35px;

    border-radius: 20px;

    box-shadow: 0 10px 30px #d8d0e8;
}

.about-box p {
    font-size: 18px;
    line-height: 1.8;
}


/* Skills */
.skills-container {
    display: flex;
    justify-content: center;
    gap: 25px;

    flex-wrap: wrap;
}

.skill {
    width: 250px;

    padding: 30px;

    background: white;

    border-radius: 20px;

    text-align: center;

    box-shadow: 0 10px 30px #d8d0e8;
}

.skill h3 {
    color: #7652d6;
    font-size: 25px;

    margin-bottom: 15px;
}

.skill p {
    line-height: 1.6;
}


/* Contact */
#contact {
    text-align: center;
}

.contact-text {
    font-size: 18px;
}


/* Footer */
footer {
    text-align: center;

    padding: 25px;

    background: #29213d;

    color: white;
}


/* Mobile Screen */
@media (max-width: 700px) {

    nav {
        flex-direction: column;
        gap: 15px;
    }

    .nav-links a {
        margin: 8px;
    }

    .hero {
        flex-direction: column;
        text-align: center;
        gap: 50px;
    }

    .hero h1 {
        font-size: 55px;
    }

    .circle {
        width: 200px;
        height: 200px;
        font-size: 80px;
    }
}